.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  color: midnightblue;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.name {
  margin: 0;
  margin-right: 10px;
}

.number {
  margin: 0;
  margin-right: 10px;
}

.button {
  width: 80px;
  margin: 0;
  padding: 8px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5%;

  background-color: cornflowerblue;
  color: white;

  transition: background-color 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67),
    color 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67),
    transform 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.button:hover {
  border: 1px solid cornflowerblue;
  background-color: white;
  color: cornflowerblue;
  transform: scale(1.1);
}
